<h2>
    <img src="{{flags.svg}}" alt=`flag of ${{{name.official}}}` width = "35" class = "js-list-img-flag">
    <spa>{{name.official}}</spa>
</h2>
<p>
    <span class = "js-info-item-title">Capital:</span>
    <span>{{capital}}</span>
</p>
<p>
    <span class = "js-info-item-title">Population:</span>
    <span>{{population}}</span>
</p>
<p>
    <span class = "js-info-item-title">Languages:</span>
    <span>{{languages}}</span>
</p>